.maincontainer {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.blur-main {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(220, 220, 220, 0.2);
  align-items: center;
  justify-content: center;
}
.container-manage-patient {
  width: 45%;
  height: 95%;
  border: 1px solid rgba(25, 22, 23, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.7);
  @media only screen and (max-width: 260px) {
    width: 80vw;
    height: 90vh;
  }
  @media only screen and (max-width: 320px) {
    width: 80%;
    height: 90%;
  }
  @media only screen and (max-width: 360px) {
    width: 80%;
    height: 80%;
  }
  @media only screen and (max-width: 411px) {
    width: 70%;
    height: 85%;
  }
  @media only screen and (max-width: 768px) {
    width: 70%;
    height: 80%;
  }
  @media only screen and (max-width: 1024px) {
    width: 75%;
    height: 70%;
  }
}
.container-manage-patient__content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.container-manage-patient__content__title {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
}
.container-manage-patient__content__title h1{
  font-size: 30px;
  @media only screen and (max-width: 260px) {
    font-size: 20px;
  }
  @media only screen and (max-width: 320px) {
    font-size: 25px;
  }
  @media only screen and (max-width: 360px) {
    font-size: 25px;
  }
  @media only screen and (max-width: 411px) {
    font-size: 25px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 25px;
  }
  @media only screen and (max-width: 1024px) {
    font-size: 25px;
  }
}
.container-manage-patient__content__buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}
.container-manage-patient__content__buttons button{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.container-manage-patient__content__buttons button > img{
  display: flex;
  width: 20%;
}
.container-manage-patient__content__buttons button > span{
  display: flex;
  width: 80%;
  font-weight: 600;
  font-size: 20px;
  justify-content: center;
}
.container-manage-patient__content__buttons__scheduling:hover{
  background: rgba(43, 190, 216, 0.3);
  border-radius: 12px;
}
.container-manage-patient__content__buttons__diagnostic:hover{
  background: rgba(43, 216, 181, .3);
  border-radius: 12px;
}
